<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Dashboard</h1>

    <div class="header-actions">
      <button class="btn-new-transaction">
        <a routerLink="/transacoes">+ Nova Transação</a>
      </button>
    </div>
  </header>

  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
    <button (click)="refreshData()">Tentar novamente</button>
  </div>

  <section class="stats-section" *ngIf="!loading">
    <div class="stats-grid">
      <!-- Receitas -->
      <div class="stat-card income-card" routerLink="/receitas">

        <div class="stat-content">
          <h3>Receitas</h3>
          <p class="stat-value positive">{{ formatCurrency(stats.totalIncomes) }}</p>
          <span class="stat-label">Total recebido</span>
        </div>

        <img class="stat-icon" src="/assets/receitas.svg" alt="">
      </div>

      <!-- Despesas -->
      <div class="stat-card expense-card" routerLink="/despesas">

        <div class="stat-content">
          <h3>Despesas</h3>
          <p class="stat-value negative">{{ formatCurrency(stats.totalExpenses) }}</p>
          <span class="stat-label">Total gasto</span>
        </div>

        <img class="stat-icon" src="/assets/despesas.svg" alt="">
      </div>


      <!-- Transações -->
      <div class="stat-card transaction-card" routerLink="/transacoes">

        <div class="stat-content">
          <h3>Transações</h3>
          <p class="stat-value">{{ stats.transactionCount }}</p>
          <span class="stat-label">Total de transações</span>
        </div>

        <img class="stat-icon" src="/assets/carteira.svg" alt="">
      </div>
    </div>
  </section>

</div>